.profile-details-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  height: 200px;
  width: 300px;
  border-radius: 35px;
}
.profile-img {
  width: 60px;
  height: 60px;
}
.profile-name {
  color: #6366f1;
  font-size: 20px;
  padding-bottom: 0px;
}
.user-short-bio {
  color: #7e858e;
  font-size: 15px;
  padding-bottom: 0px;
}
.profile-failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
